[Desktop Entry]
Encoding=UTF-8
Name=Akik
Comment=Akik P2P Cryptocurrency
Comment[fr]=Akik, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Akik, eşten eşe kriptografik sanal para birimi
Exec=akik-qt %u
Terminal=false
Type=Application
Icon=akik128
MimeType=x-scheme-handler/akik;
Categories=Office;Finance;
