[Unit]
Description=Akik's distributed currency daemon
After=network.target

[Service]
User=akik
Group=akik

Type=forking
PIDFile=/var/lib/akikd/akikd.pid

ExecStart=/usr/bin/akikd -daemon -pid=/var/lib/akikd/akikd.pid \
          -conf=/etc/akik/akik.conf -datadir=/var/lib/akikd

ExecStop=-/usr/bin/akik-cli -conf=/etc/akik/akik.conf \
         -datadir=/var/lib/akikd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
